@import '../variables.scss';
@import '../_components.scss';
/* @import '../parts-styles/gallery.scss'; */

/*
.btn-reset {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;

  &:hover,
  &:focus {
    outline: none;
    border: none;
  }
}

.btn-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 241px;
  height: 56px;
  padding: 16px 24px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  background-color: #f2b800;
  border: none;
  cursor: pointer;

  & img {
    margin-left: 8px;
  }
}

.btn-inverse {
  @extend .btn-main;
  color: #0d0d0d;
  background-color: white;
  border: 1px solid #f2b800;
}
*/ 

.event-title {
  font-size: 28px;
  font-weight: 900;
  color: #f2b800;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 32px;
  }
}

.event-date {
  font-size: 20px;
  font-weight: 400;
  color: #0d0d0d;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.event-content {
  margin-bottom: 16px;

  & a {
    text-decoration: underline;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 33px;
  }

  &.clamp {
    @media screen and (max-width: 767.98px) {
      -webkit-line-clamp: 7;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.event-text {
  margin-bottom: 1em;
}

.event-content.clamp+.event-btn-wrapper {
  & .btn-less-text{
    display: none;
  }
}

.event-content:not(.clamp)+.event-btn-wrapper {
  & .btn-more-text{
    display: none;
  }
  & .icon{
    transform: rotate(180deg);
  }
}

.event-btn-main {
  @extend .btn-yellow; 
  @extend .btn-icon;
  
  
  /*@extend .btn-main; */
  
  & .icon {
    /* stroke: white;*/
    margin-left: 8px; 
  }
  /*&:disabled {
    @extend .btn-disabled-yellow;
  }*/
}

.event-btn-inverse {
  @extend .btn-white; 
  @extend .btn-icon-black;
  
  & .icon {
    /* stroke: black; */
    margin-left: 8px;
  }

  /*@extend .btn-inverse; */

  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}



.event-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    align-items: flex-start;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 64px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 80px;
  }
}


