@import "../_variables.scss";
@import "../_components.scss";

.title-wraprer {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 56px;
  }
}

.calendar-link {
  margin: 0 9px;
  min-width: 54px;
  @media screen and (min-width: 768px) {
    margin: 0 0 0 24px;
  }
}

.calendar-icon {
  @extend .btn-icon;

  width: 48px;
  height: 48px;
}

.events-main-title {
  font-size: 28px;
  color: $yellow;
  font-weight: 900;

  @media screen and (min-width: 768px) {
    font-size: 32px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 48px;
  }
}

.events-service {
  display: flex;
  justify-content: right;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 992px) {
    margin-bottom: 16px;
  }
}

.sort-button {
  @extend .btn-clear;

  &[data-sort="desc"] .events-sort-icon {
    --icon-sort-color-left: rgba(242, 184, 0, 0.3);
    --icon-sort-color-right: $yellow;
  }
  &[data-sort="asc"] .events-sort-icon {
    --icon-sort-color-left: $yellow;
    --icon-sort-color-right: rgba(242, 184, 0, 0.3);
  }

  &[data-sort="desc"]:hover:not(:disabled) .events-sort-icon {
    --icon-sort-color-left: $btn-hover;
    --icon-sort-stroke-left: #ffce32;
  }

  &[data-sort="asc"]:hover:not(:disabled) .events-sort-icon {
    --icon-sort-color-right: $$btn-hover;
    --icon-sort-stroke-right: #ffce32;
  }

  &:disabled .events-sort-icon {
    --icon-sort-color-left: rgba(242, 184, 0, 0.1);
    --icon-sort-color-right: rgba(242, 184, 0, 0.1);
    --icon-sort-stroke-left: #ffffff00;
    --icon-sort-stroke-right: #ffffff00;
  }

  /*&:disabled .events-sort-icon{
    --icon-sort-color-left: $icon-diabled;
    --icon-sort-color-right: $icon-diabled;
  }*/
}

.events-sort-icon {
  @extend .btn-icon;
  /*transition: all $animations; */

  @media screen and (min-width: 768px) {
    width: 53px;
    height: 40px;
  }
  @media screen and (min-width: 1200px) {
    width: 64px;
    height: 48px;
  }
}

.paginate-more {
  display: flex;
  justify-content: center;
  margin-top: 24px;

  @media screen and (min-width: 768px) {
    margin-top: 48px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 56px;
  }

  &.hidden {
    display: none;
  }
}

.paginate-btn {
  @extend .btn-clear;

  &:disabled .icon-btn-open-more {
    fill: $btn-disabled;
  }
}

.icon-btn-open-more {
  @extend .btn-icon;

  @media screen and (min-width: 768px) {
    width: 173px;
    height: 144px;
  }
}
