.title-wraprer {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 48px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 56px;
  }
}

.calendar-link {
  margin: 0 9px;
  min-width: 54px;
  @media screen and (min-width: 768px) {
    margin: 0 0 0 24px;
  }
}

.calendar-icon {
  width: 54px;
  height: 54px;
}
.events-title {
  font-size: 28px;
  color: #f2b800;
  font-weight: 900;

  @media screen and (min-width: 768px) {
    font-size: 32px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 48px;
  }
}

.event-service {
  display: flex;
  justify-content: right;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: 992px) {
    margin-bottom: 16px;
  }
}

.sort-button {
  padding: 0;
  background-color: transparent;
  border: none;
}

.event-sort-icon {
  width: 40px;
  height: 30px;
  right: 0;

  @media screen and (min-width: 768px) {
    width: 53px;
    height: 40px;
  }
  @media screen and (min-width: 1200px) {
    width: 64px;
    height: 48px;
  }
}

.event-list {
  display: flex;
  gap: 16px;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.event-item {
  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 992px) {
    width: 328px;
  }
  @media screen and (min-width: 1200px) {
    width: 580px;
  }
}

.img-wrapper {
  position: relative;
  text-align: center;
}

.event-title {
  display: block;
  position: absolute;
  width: 250px;
  font-size: 12px;
  padding: 40px 24px;
  font-weight: 600;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    50% 50% at 50% 50%,
    #0d0d0d 0%,
    rgba(13, 13, 13, 0.6) 57.81%,
    rgba(13, 13, 13, 0) 100%
  );

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 992px) {
    width: 288px;
  }
  @media screen and (min-width: 1200px) {
    width: 410px;
    font-size: 20px;
  }
}

.event-date {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 20px;
  font-weight: 600;
  color: #f2b800;
  padding: 8px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.paginate-more {
  display: flex;
  justify-content: center;
  margin-top: 24px;

  @media screen and (min-width: 768px) {
    margin-top: 48px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 56px;
  }
}

.paginate-btn {
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    width: 173px;
    height: 144px;
  }
}
