.btn-reset {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;

  &:hover,
  &:focus {
    outline: none;
    border: none;
  }
}

.btn-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 241px;
  height: 56px;
  padding: 16px 24px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  background-color: #f2b800;
  border: none;
  cursor: pointer;

  & img {
    margin-left: 8px;
  }
}

.btn-inverse {
  @extend .btn-main;
  color: #0d0d0d;
  background-color: white;
  border: 1px solid #f2b800;
}

.event-title {
  font-size: 28px;
  font-weight: 900;
  color: #f2b800;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    margin-bottom: 16px;
  }

  
}

.event-date {
  font-size: 20px;
  font-weight: 400;
  color: #0d0d0d;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 33px;
  }
}

.event-content {
  margin-bottom: 16px;

  & a {
    text-decoration: underline;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 33px;
  }

  &.clamp {
    @media screen and (max-width: 767.98px) {
      -webkit-line-clamp: 7;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.event-text {
  margin-bottom: 1em;
}



.event-btn-main {
  @extend .btn-main;
}

.event-btn-inverse {
  @extend .btn-inverse;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.event-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;

  @media screen and (min-width: 768px){
    align-items: flex-start;
  }
  @media screen and (min-width: 768px){
    margin-bottom: 64px;
  }
  @media screen and (min-width: 1200px){
    margin-bottom: 80px;
  }

}

.gallery-wrapper {
  margin-bottom: 9px;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-end;
    margin-top: 40px;
    gap: 20px;
    margin-bottom: 48px;
  }
  @media screen and (min-width: 992px){
    margin-bottom: 64px;
  }
}

.gallery-sm {
  display: none;
  outline: 1px solid tomato;



  @media screen and (min-width: 768px) {
    display: block;
    max-width: 160px;
    height: 200px;
  }
  @media screen and (max-width: 1199.98px){
    &.left-1, &.right-1{
      display: none;
    }
  }
  @media screen and (min-width: 1200px) {
    max-width: 240px;
    height: 180px;

  }
}

.gallery-lg {
  height: 400px;
  outline: 1px solid tomato;

  @media screen and (min-width: 768px) {
    width: 343px;
    height: 318px;
  }
  @media screen and (min-width: 992px) {
    width: 448px;
    height: 360px;
  }
  @media screen and (min-width: 1200px) {
    width: 778px;
    height: 560px;
  }
}

.gallery-img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.gallery-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px){
    width: 1200px;
    padding: 0 10px;
  }
}

.nav-btn {
  @extend .btn-reset;
}

.gallery-arrow {
  width: 86px;
  height: 28px;

  @media screen and (min-width: 768px) {
    width: 180px;
    height: 59px;
  }
}

.gallery-navdots {
  width: 62px;
  height: 80px;

  @media screen and (min-width: 768px) {
  }
}
