@import "../global";
@import "../variables";
.home {
  color: pink;
}

.logo {
  padding: 0;
  position: relative;
  height: 600px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d0d0d;
  z-index: -2;

  @media (min-width: 767.98px) {
    height: calc(100vh - 83px);
  }
  @media (min-width: 991.98px) {
    height: calc(100vh - 99px);
  }
  @media (min-width: 1200px) {
    height: calc(100vh - 115px);
    background-size: contain;
  }

  &__background {
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 1200px) {
      width: 1200px;
      box-shadow: inset 64px 0 30px -4px #0d0d0d,
        inset -64px 0 30px -4px #0d0d0d;
    }
  }

  &__img {
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    height: 614px;
    width: 614px;
    z-index: -1;

    @media (min-width: 767.98px) {
      top: -142px;
      height: 938px;
      width: 938px;
    }
    @media (min-width: 991.98px) {
      top: -207px;
      height: 1162px;
      width: 1162px;
    }
    @media (min-width: 1200px) {
      top: -263px;
      height: 1920px;
      width: 1920px;
    }
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    color: $yellow;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(13, 13, 13, 0.2) 0%,
      rgba(13, 13, 13, 0.51) 44.79%,
      rgba(13, 13, 13, 0) 100%
    );

    @media (min-width: 767.98px) {
      font-size: 40px;
      width: 640px;
    }
  }
}

.info {
  background-color: #0d0d0d;
  padding: 16px 0 60px 0;

  @media (min-width: 767.98px) {
    padding: 10px 0 10px 0;
  }
  @media (min-width: 1200px) {
    padding: 20px 0 20px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    align-items: center;

    @media (min-width: 767.98px) {
      flex-direction: row;
    }
    @media (min-width: 1200px) {
      flex-direction: row;
      gap: 23px;
    }
  }

  &__img {
    width: 280px;
    height: 280px;

    @media (min-width: 767.98px) {
      width: 210px;
      height: 210px;
    }
    @media (min-width: 1200px) {
      width: 200px;
      height: 200px;
    }
  }

  &__text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    @media (min-width: 767.98px) {
      font-size: 20px;
      text-align: initial;
    }
  }
}

.description {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (min-width: 767.98px) {
      flex-direction: row;
      gap: 32px;
    }

    @media (min-width: 1200px) {
      gap: 20px;
    }
  }
  &__box {
    @media (min-width: 767.98px) {
      max-width: 336px;
    }

    @media (min-width: 991.98px) {
      max-width: 329px;
    }
    @media (min-width: 1200px) {
      max-width: 580px;
    }
  }
  &__title {
    color: $yellow;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 16px;

    @media (min-width: 767.98px) {
      margin-bottom: 32px;
    }

    @media (min-width: 1200px) {
      font-size: 24px;
      margin-bottom: 40px;
    }
  }
  &__text {
    color: $black;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media (min-width: 1200px) {
      font-size: 20px;
    }
  }
}

.container-benefits {
  @media (min-width: 991.98px) {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.benefits {
  padding-top: 0;
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    @media (min-width: 767.98px) {
      flex-direction: row;
      gap: 32px;
    }
    @media (min-width: 991.98px) {
      flex-direction: row;
      gap: 20px;
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    @media (min-width: 767.98px) {
      width: 336px;
      height: 248px;
    }
    @media (min-width: 991.98px) {
      width: 280px;
      height: 220px;
    }
    @media (min-width: 1200px) {
      width: 351px;
      height: 260px;
    }
    @media (min-width: 1440px) {
      width: 432px;
      height: 320px;
    }
    @media (min-width: 1920px) {
      width: 540px;
      height: 400px;
    }
  }

  &__img {
    @media (min-width: 767.98px) {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      width: calc(100% / 2 * 3);
    }
  }

  &__title {
    background-color: $yellow;
    color: white;
    padding: 14px 16px 16px 16px;
    text-align: end;
    width: 280px;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 20px;
    font-weight: 600;
    @media (min-width: 767.98px) {
      width: 256px;
      font-size: 14px;
      padding: 8px 8px 8px 8px;
    }
    @media (min-width: 991.98px) {
      width: 220px;
    }
    @media (min-width: 1920px) {
      font-size: 24px;
      padding: 14px 16px 16px 16px;
      width: 375px;
    }
  }
}

.line {
  height: 16px;
  background: var(
    --gradient,
    linear-gradient(
      90deg,
      #f22e52 0%,
      #f23e16 28.13%,
      #f2790f 57.81%,
      #f2b800 100%
    )
  );
  @media (min-width: 767.98px) {
    height: 20px;
    width: 704px;
    margin: 0 auto;
  }
  @media (min-width: 991.98px) {
    width: 928px;
  }
  @media (min-width: 1200px) {
    height: 24px;
    width: auto;
    max-width: 1400px;
  }
}

.events {
  padding-top: 0;
  &__title {
    color: $yellow;
    margin-top: 24px;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: center;
    margin-bottom: 24px;
    @media (min-width: 767.98px) {
      margin-top: 64px;
      font-size: 48px;
      text-align: end;
      margin-bottom: 48px;
    }
    @media (min-width: 1200px) {
      margin-top: 80px;
      margin-bottom: 64px;
    }
  }

  &__btn {
    margin-top: 24px;
    @media (min-width: 767.98px) {
      margin-top: 48px;
    }
  }
  &__name {
    position: relative;
    width: 120px;
    svg {
      width: 120px;
      height: 40px;
    }
    display: flex;
    flex-direction: column;
    margin-left: auto;
    @media (min-width: 767.98px) {
      width: 180px;
      font-size: 16px;
      svg {
        width: 180px;
        height: 63px;
      }
    }
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    color: $yellow;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    @media (min-width: 767.98px) {
      font-size: 16px;
    }
  }
}

.gallery {
  padding-top: 0;
  &__title {
    color: $yellow;
    margin-top: 24px;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: center;
    margin-bottom: 24px;
    @media (min-width: 767.98px) {
      margin-top: 64px;
      font-size: 48px;
      text-align: start;
      margin-bottom: 48px;
    }
    @media (min-width: 1200px) {
      margin-top: 80px;
      margin-bottom: 64px;
    }
  }
  &__list {
    margin-top: 24px;
  }
  &__img {
    border: 1px solid black;
  }
}

.partners {
  padding-top: 0;
  &__title {
    color: $yellow;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 24px;
    @media (min-width: 767.98px) {
      margin-top: 80px;
      text-align: end;
      font-size: 48px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
    @media (min-width: 767.98px) {
      flex-direction: row;
      margin-top: 64px;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    @media (min-width: 767.98px) {
      width: 200px;
    }
    @media (min-width: 1200px) {
      width: 380px;
    }
  }
  &__name {
    margin-top: 8px;
    text-align: center;

    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @media (min-width: 767.98px) {
      margin-top: 16px;

      font-size: 16px;
    }
    @media (min-width: 1200px) {
      font-size: 20px;
    }
  }
}

.docs {
  padding-top: 0;
  &__title {
    color: $yellow;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 24px;
    @media (min-width: 767.98px) {
      margin-top: 80px;
      text-align: start;
      font-size: 48px;
      @media (min-width: 1200px) {
        margin-top: 80px;
      }
    }
  }
  &__list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media (min-width: 767.98px) {
      margin-top: 48px;
      gap: 24px;
    }
    @media (min-width: 1200px) {
      margin-top: 64px;
    }
  }

  &__item {
    cursor: pointer;
  }

  &__item.docs__expanded &__doc {
    display: block;
  }

  &__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid $yellow;
    padding: 8px 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @media (min-width: 767.98px) {
      font-size: 14px;
    }
    @media (min-width: 1200px) {
      font-size: 16px;
    }

    svg {
      pointer-events: none;
      min-width: 24px;
    }

    .docs__item.docs__expanded & {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  &__doc {
    display: none;
    margin-top: 8px;
    height: 500px;
    & iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.contacts {
  padding-top: 0;
  &__title {
    color: $yellow;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 24px;
    @media (min-width: 767.98px) {
      margin-top: 80px;
      text-align: end;
      font-size: 48px;
    }
  }

  &__map {
    margin-top: 24px;
    height: 340px;
    @media (min-width: 767.98px) {
      margin-top: 40px;
      height: 320px;
    }
    @media (min-width: 1200px) {
      height: 540px;
    }
  }
  &__list {
    width: 280px;
    padding-top: 32px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    border-top: 4px solid $yellow;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 767.98px) {
      width: 604px;
      padding-top: 16px;
      margin-top: 40px;
      flex-direction: row;
      align-items: start;
      gap: 32px;
    }
    @media screen and (min-width: 1200px) {
      width: 920px;
      padding-top: 32px;
      gap: 40px;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
    color: #0d0d0d;
    width: 280px;
    @media (min-width: 767.98px) {
      width: 180px;
    }
    @media screen and (min-width: 1200px) {
      width: 280px;
    }
  }
  h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media (min-width: 767.98px) {
      font-size: 14px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 16px;
    }
  }
  p,
  a {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__phone-number {
    margin-top: 2px;
  }
}
