/*
 section - for section (padding-top, padding-botton
 container - for all section (padding-left, padding-right and left/right auto
 container-benefits   - for benefits
 container gallery    - for gallery 
 */


* {
  box-sizing: border-box;
  color: #0d0d0d;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.section {
  padding-top: 24px;
  padding-bottom: 24px;

  @media screen and (min-width: 768px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

  @media screen and (max-width: 359.98px) {
    width: 360px;
  }

  @media screen and (min-width: 576px) {
    width: 576px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 992px) {
    width: 752px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
  }

}

.container-benefits {
  @extend .container;

  @media screen and (min-width: 992px) {
    width: auto;
    max-width: 880px;
    padding-left: 24px;
    padding-right: 24px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1720px;
  }
}

.container-gallery {
  @extend .container;

  @media screen and (min-width: 992px) {
    width: auto;
    max-width: 872px;
  }

  @media screen and (min-width: 1200px) {
    width: auto;
    max-width: 1618px;
  }
}
