* {
    box-sizing: border-box;
    color: #0D0D0D;    
}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container { 
    min-width: 300px;
    padding: 0 16px;   
    margin: 0 auto;   
    @media (min-width: 480px) {        
        max-width: 736px;                       
    }
    @media (min-width: 767.98px) {        
        max-width: 688px;  
        padding: 0;              
    }
    @media (min-width: 991.98px) {        
        max-width: 950px;                
    }
    @media (min-width: 1280px) {        
        max-width: 1180px;                        
    }         
}
