
$purple: #F22E52;
$yellow: #F2B800;
$orange: #F2790F;
$coral: #F23E16;
$black: #0D0D0D;
$gray: #D0D3D7;
$btn-hover: #FFCE32;
$btn-pressed: #E4AD00;
$btn-inv-hover: #F2B800;
$btn-inv-pressed: #E4AD00;

$animations: 250ms cubic-bezier(0.4, 0, 0.2, 1);

.variables{
    color: $purple;
}
