* {
    box-sizing: border-box;
    color: #0D0D0D;    
}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container { 
    max-width: 1180px;
    margin: 0 auto;     
    @media (max-width: 1280px) {        
        max-width: 950px;                
    }
    @media (max-width: 991.98px) {        
        max-width: 688px;                
    }
    @media (max-width: 767.98px) {        
        max-width: none;
        padding: 0 16px;       
    }         
}
